{{- if .Values.db.enabled }}
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: {{ .Values.db.name }}
    labels:
      app: {{ .Values.db.labels.app }}
  spec:
    selector:
      matchLabels:
        app: {{ .Values.db.labels.app }}
    template:
      metadata:
        labels:
          app: {{- toYaml .Values.db.labels | nindent 8 }}
      spec:
        containers:
          - image: "{{ .Values.db.container.image.repository }}:{{ .Values.db.container.image.tag }}"
            name: {{ .Values.db.container.name }}
            env:
              - name: POSTGRES_USER
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.db.container.secret.name }}
                    key: {{ .Values.db.container.secret.keys.username }}
              - name: POSTGRES_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.db.container.secret.name }}
                    key: {{ .Values.db.container.secret.keys.password }}
              - name: POSTGRES_DB
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.db.container.secret.name }}
                    key: {{ .Values.db.container.secret.keys.database }}
            ports:
              - containerPort: {{ .Values.db.container.port.number }}
                name: {{ .Values.db.container.port.name }}

            {{- if .Values.db.container.probes.enabled }}
            livenessProbe:
              tcpSocket:
                port: {{ .Values.db.container.port.name }}
            readinessProbe:
              tcpSocket:
                port: {{ .Values.db.container.port.name }}
            startupProbe:
              tcpSocket:
                port: {{ .Values.db.container.port.name }}
{{- end }}
