apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}

spec:
  type: {{ .Values.app.service.type }}

  ports:
    - name: http
      port: {{ .Values.app.service.port }}
      targetPort: {{ .Values.app.containerPort }}

  selector:
    app: {{ .Values.app.name }}
